/* Global Styles */
#messages {
    top: 100px;
    left: 25%;
    width: 50%;
}

/* Body Styles */
body {
    background-color: #F9FAFC;
}

/* Brand Styles */
.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #4A4A4F;
}

/* Red "O" Styles */
.red-o {
    color: #E84610;
}

/* Thin Font Styles */
.thin {
    font-weight: 300;
}

/* Light Background Styles */
.light-bg {
    background-color: #fff;
}

/* Dark Background Styles */
.dark-bg {
    background-color: #445261;
}

/* Main Background Styles */
.main-bg {
    background-color: #F9FAFC;
}

/* Card Styles */
.card {
    border: none;
    background-color: transparent;
}

/* Excerpt Styles */
.excerpt {
    height: fit-content;
    overflow: hidden;
}

/* Image Container Styles */
.image-container {
    position: relative;
    height: 200px;
    overflow: hidden;
}

/* Image Flash Styles */
.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

/* Author Styles */
.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

/* Masthead Styles */
.masthead {
    margin-top: 10px;
    overflow: hidden;
    height: 200px;
    width: 100%;
}

/* Masthead Text Styles */
.masthead-text {
    background-color: #445261;
    color: white;
}

/* Cursor Pointer Style */
.cursor-pointer {
    cursor: pointer;
}

/* Post Link Styles */
.post-link {
    text-decoration: none;
    color: #614446;
}

/* Hover Styles for Post Link and Page Link */
.post-link:hover,
.page-link {
    color: #E84610;
}

/* Signup Button Styles */
.btn-signup {
    background-color: #647070;
    color: #fff;
}

/* Hover and Active Styles for Signup Button */
.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

/* Link Styles */
.link {
    color: #23BBBB;
    text-decoration: none;
}

/* Hover and Active Styles for Link */
.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

/* Like Button Styles */
.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
    cursor: pointer;
}

/* Hover and Active Styles for Like Button */
.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

/* Navbar Brand Styles */
a.navbar-brand {
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    color: orangered;
    font-family: cursive;
    font-weight: 700;
    z-index: 1000;
    list-style-type: none;
}

/* Hover Style for Navbar Brand */
a.navbar-brand:hover {
    color: black;
}

/* Main Navigation Styles */
nav.main-navigation {
    position: relative;
    border-bottom: 1px solid black;
}

/* Navigation List Styles */
nav.main-navigation ul.nav-list {
    margin: 0;
    padding: 10px;
    list-style: none;
    position: relative;
    text-align: right;
    z-index: 0;
}

/* Hero Overlay Styles */
.hero-overlay {
    width: fit-content;
    height: fit-content;
    margin: 50px 0px 0 30px;
}

/* Overlay Header Styles */
.overlay-header {
    background-color: rgba(7, 7, 7, 0.185);
    border: solid white 2px;
    padding: 10px;
    margin-bottom: 30px;
}

/* Overlay Body Styles */
.overlay-body {
    background-color: rgba(7, 7, 7, 0.185);
    border: solid white 2px;
    margin-bottom: 150px;
}

.about-us {
    overflow-x: hidden;
}

/* Homepage Container Styles */
.homepage-container {
    height: 100vh;
    min-height: fit-content;
}

/* Jumbotron Styles */
.jumbotron {
    height: 100vh;
    padding-bottom: 0 !important;
    background-size: cover;
    background-repeat: no-repeat;
}

/* About Us Container Styles */
.aboutus-container {
    padding: 50px 20px 100px 20px;
    height: fit-content;
}

/* Navigation List Item Styles */
.nav-list li.nav-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 20px;
    border: 1px solid black;
    margin: 15px 5px 0 5px;
    width: 100%;
    background-color: rgba(245, 91, 13, 0.507);
    text-align: center;
}

/* Navigation Link Styles */
a.nav-link {
    text-decoration: none;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    color: #404040;
    width: fit-content;
    list-style-type: none;
}

.dropdown-menu ul li a {
    color: #000 !important;
}

/* Dropdown Menu Styles */
.dropdown-menu {
    z-index: 100;
}

/* Keyframes Animation for FadeIn */
@keyframes FadeIn {
    0% {
        opacity: 0;
        -webkit-transition-duration: 0.8s;
        transition-duration: 0.8s;
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        pointer-events: auto;
        transition: cubic-bezier(0.4, 0, 0.2, 1);
    }
}

/* Animation for Navigation List Items */
.nav-list li {
    animation: FadeIn 1s cubic-bezier(0.65, 0.05, 0.36, 1);
    animation-fill-mode: both;
}

/* Animation Delay for Navigation List Items */
.nav-list li:nth-child(1) {
    animation-delay: .3s;
}

.nav-list li:nth-child(2) {
    animation-delay: .6s;
}

.nav-list li:nth-child(3) {
    animation-delay: .9s;
}

.nav-list li:nth-child(4) {
    animation-delay: 1.2s;
}

.nav-list li:nth-child(5) {
    animation-delay: 1.5s;
}

.nav-list li:nth-child(6) {
    animation-delay: 1.8s;
}

.nav-list li:nth-child(7) {
    animation-delay: 2.1s;
}

/* Keyframes Animation for FadeInUp */

@keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0)
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

/* Keyframes Animation for FadeInUp (Webkit) */
@-webkit-keyframes fadeInUp {
    from {
        transform: translate3d(0, 40px, 0);
    }

    to {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

/* Animation Styles */
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
}

/* FadeInUp Animation Styles */
.animatedFadeInUp {
    opacity: 0;
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

/* Margin-Bottom Styles for Card Body */
.mb.card-body {
    text-align: center;
}

/* Margin-Bottom Styles for Button */
.mb.btn {
    border-radius: 0;
    box-shadow: 0.5px 1px 2px hsla(0, 0%, 20%, 1);
}

/* Hover Styles for Button */
.mb.btn:hover {
    transform: translateY(-2px);
    box-shadow: 2px 2px 5px hsla(0, 0%, 20%, 1);
}

/* Card Styles */
.mb.card {
    border-radius: 0px / 0px;
    overflow: hidden;
    box-shadow: 0.5px 1px 2px hsla(0, 0%, 20%, 1);
}

/* Card Container Styles */
.card-container {
    width: 100%;
    padding: 0 0 100px 0;
}

/* Link Margin-Top Styles for Card */
.card-container .card a {
    margin-top: 100px;
}

/* Card Image Styles */
.card-container img {
    height: 200px;
    width: 100%;
    background-position: center;
    object-fit: cover;
}

/* Inner Card Container Styles */
.inner-card-container {
    width: 90%;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 1.5%;
    margin: 0 auto;
    padding: 20px 0 100px 0;
}

/* Comments Container Styles */
.comments-container {
    padding-bottom: 100px;
    position: relative;
}

.messages {
    height: fit-content;
    width: 100%;
    position: absolute;
}

/* Container Styles */
.container {
    padding: 0 !important;
}

/* Containers Styles */
.containers {
    justify-content: space-evenly;
    align-items: center;
    display: flex;
    margin-top: 50px;
    padding-bottom: 100px;
}

.containers table {
    width: 50%;
}

/* Image Styles for Containers */
.containers img {
    width: 30%;
}

/* Card Styles */
.card {
    width: 32%;
    margin-bottom: 10px;
}

/* Form Section Styles */
.form-section {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Filler Form Styles */
.filler-form {
    width: 95%;
    height: fit-content;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 100px;
}

/* Form Paragraph Styles */
form p {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* Contact form styles */
.contact-us {
    text-align: center;
}

/* Contact Button Styles */
.contact-btn {
    background-color: rgb(168, 241, 168);
}

/* Hover Styles for Contact Button */
.contact-btn:hover {
    background-color: white;
}

/* Footer Styles */
.footer {
    width: 100%;
    height: 10%;
}

/* Delete Comment Icon Hover Styles */
.delete-comment-icon:hover::after {
    display: flex;
    justify-content: center;
    align-content: center;
    content: 'Delete';
    width: 100px;
    background-color: black;
    position: absolute;
    top: -30px;
    right: -50px;
    color: white;
    border-radius: 20px;
    font-size: 12px;
    padding: 3px;
    z-index: 1;
}

/* Media Query for Max Width 750px */
@media (max-width: 750px) {
    .inner-card-container {
        width: 90%;
        flex-direction: column;
        gap: 0.5%;
        margin: 0 auto;
        padding: 20px 0 100px 0;
    }

    .card {
        width: 100%;
    }

    .containers {
        flex-direction: column;

    }

    .containers table {
        flex-direction: column;
        width: 80%;

    }

    .containers img {
        width: 90%;
    }
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #f7f7f7;
    max-width: 2000px;
}

html {
    display: flex;
    justify-content: center;
}

.navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px;
}

/*
header top
*/
.topbar {
    background-color: #212529;
    padding: 0;
}

.topbar .container .row {
    margin: -7px;
    padding: 0;
}

.topbar .container .row .col-md-12 {
    padding: 0;
}

.topbar p {
    margin: 0;
    display: inline-block;
    font-size: 13px;
    color: #f1f6ff;
}

.topbar p>i {
    margin-right: 5px;
}

.topbar p:last-child {
    text-align: right;
}

header .navbar {
    margin-bottom: 0;
}

.topbar li.topbar {
    display: inline;
    padding-right: 18px;
    line-height: 52px;
    transition: all .3s linear;
}

.topbar li.topbar:hover {
    color: #1bbde8;
}

.topbar ul.info i {
    color: #131313;
    font-style: normal;
    margin-right: 8px;
    display: inline-block;
    position: relative;
    top: 4px;
}

.topbar ul.info li {
    float: right;
    padding-left: 30px;
    color: #ffffff;
    font-size: 13px;
    line-height: 44px;
}

.topbar ul.info i span {
    color: #aaa;
    font-size: 13px;
    font-weight: 400;
    line-height: 50px;
    padding-left: 18px;
}

ul.social-network {
    border: none;
    margin: 0;
    padding: 0;
}

ul.social-network li {
    border: none;
    margin: 0;
}

ul.social-network li i {
    margin: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 5px;
    border: 0px solid #2D2D2D;
    padding: 5px 0 0;
    width: 32px;
    display: inline-block;
    text-align: center;
    height: 32px;
    vertical-align: baseline;
    color: #000;
}

ul.social-network {
    list-style: none;
    margin: 5px 0 10px -25px;
    float: right;
}

.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: middle;
    z-index: 1;
    will-change: opacity, transform;
    transition: .3s ease-out;
    color: #fff;
}

a {
    color: #0a0a0a;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.bg-image-full {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.errorlist {
    padding: 5px;
    background-color: rgb(184, 71, 71);
    border: 1px solid black;
    color: white;
}

.bg-dark {
    background-color: #222 !important;
}

.mx-background-top-linear {
    background: -webkit-linear-gradient(45deg, #54d400 48%, #1b1e21 48%);
    background: -webkit-linear-gradient(left, #54d400 48%, #1b1e21 48%);
    background: linear-gradient(45deg, #54d400 48%, #1b1e21 48%);
}

/* footer styles */

.context-dark,
.bg-gray-dark,
.bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a,
.footer-classic a:focus,
.footer-classic a:active {
    color: #ffffff;
}

.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: #4d6de6;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

div h3 span {
    color: #FFF;
    font-size: 14px;
}

div span {
    font-weight: 200;
}

h1 {
    font-weight: 200;
}

.login_box {
    background: #f32d27;
    /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjZjMyZDI3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjZmY2YjQ1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(45deg, #f32d27 5%, #ff6b45 99%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(5%, #f32d27), color-stop(99%, #ff6b45));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg, #f32d27 5%, #ff6b45 99%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg, #f32d27 5%, #ff6b45 99%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg, #f32d27 5%, #ff6b45 99%);
    /* IE10+ */
    background: linear-gradient(45deg, #f32d27 5%, #ff6b45 99%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f32d27', endColorstr='#ff6b45', GradientType=1);
    /* IE6-8 fallback on horizontal gradient */

    width: 35%;
    /* height:70%; */

    -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
    -moz-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
    box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
}

@media (max-width: 767px) {
    .login_box {
        background: #f32d27;
        /* Old browsers */
        /* IE9 SVG, needs conditional override of 'filter' to 'none' */
        background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMTAwJSIgeDI9IjEwMCUiIHkyPSIwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjUlIiBzdG9wLWNvbG9yPSIjZjMyZDI3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjZmY2YjQ1IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
        background: -moz-linear-gradient(45deg, #f32d27 5%, #ff6b45 99%);
        /* FF3.6+ */
        background: -webkit-gradient(linear, left bottom, right top, color-stop(5%, #f32d27), color-stop(99%, #ff6b45));
        /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(45deg, #f32d27 5%, #ff6b45 99%);
        /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(45deg, #f32d27 5%, #ff6b45 99%);
        /* Opera 11.10+ */
        background: -ms-linear-gradient(45deg, #f32d27 5%, #ff6b45 99%);
        /* IE10+ */
        background: linear-gradient(45deg, #f32d27 5%, #ff6b45 99%);
        /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f32d27', endColorstr='#ff6b45', GradientType=1);
        /* IE6-8 fallback on horizontal gradient */

        width: 95%;
        height: 80%;
        position: relative;
        margin-bottom: 200px;
        top: 10%;
        left: 2.5%;

        -webkit-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
        -moz-box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
        box-shadow: 0px 0px 8px 0px rgba(50, 50, 50, 0.54);
    }
}

.image-circle {
    border-radius: 50%;
    width: 175px;
    height: 175px;
    border: 4px solid #FFF;
    margin: 10px;
}

.login_control {
    background-color: #FFF;
    padding: 10px;
}

.control {
    color: #000;
    margin: 10px;
}

.form-group p .label {
    color: #EB4F26;
    font-size: 18px;
    font-weight: 500;
}

.form-control {
    color: #000000 !important;
    font-size: 25px;
    border: none;
    padding: 25px;
    padding-left: 10px;
    border-bottom: 1px solid #CCC;
    margin-bottom: 10px;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.form-control:focus {
    border-radius: 0px;
    border-bottom: 1px solid #FC563B;
    margin-bottom: 10px;
    outline: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.btn-orange {
    background-color: #FC563B;
    border-radius: 0px;
    margin: 5px;
    padding: 5px;
    width: 150px;
    font-size: 20px;
    font-weight: inherit;
}

.btn-orange:hover {
    background-color: #F22F26;
    border-radius: 0px;
    margin: 5px;
    padding: 5px;
    width: 150px;
    font-size: 20px;
    font-weight: inherit;
    color: #FFF !important;
}

.line {
    border-bottom: 2px solid #1311113e;
}

.outter {
    padding: 0px;
    border: 1px solid rgba(255, 255, 255, 0.29);
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}