{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- About 1 - Bootstrap Brain Component -->
<section class="mb-10">
    <div class="aboutus-container">
      <div class="row gy-3 gy-md-4 gy-lg-0 align-items-lg-center">
        <div class="col-12 col-lg-6 col-xl-5">
          <img class="img-fluid rounded" loading="lazy" src="./assets/img/about-img-1.jpg" alt="">
        </div>
        <div class="col-12 col-lg-6 col-xl-7">
          <div class="row justify-content-xl-center">
            <div class="col-12 col-xl-11">
              <h2 class="h1 mb-3">Who Are We?</h2>
              <p class="lead fs-4 text-secondary mb-3">Dietitian in Tipperary</p>
              <p class="mb-5">I am a dietitian based in An Port Nua, Co.Tipperary. My speciality areas centre around sports nutrition, weight management and aiding those I work with make more successful & long term changes to their diet. I also work with a wider general range of clients with a variety of issues ranging from simple nutrient deficiencies to diabetes management</p>                                                 
                      <h4 class="mb-3">What we offer!</h4>
                      <p class="text-secondary mb-3">
                        Gut Nutrition<br>
                        <br>
                        With over 20 years experience giving dietary advice to people we love to keep this as our specialist area and are proud to have had loads of happy clients walk away with happier guts.
                        Pancreatitis
                        Liver problems including fatty liver
                        Troublesome stoma output
                        Post gastrointestinal surgery
                        Fibromyalgia
                        Ulcerative Colitis
                        Irritable bowel syndrome (IBS)
                        Gastritis/Ulcers
                        Diverticular Disease
                        Constipation / Diarrhoea
                        Coeliac Disease
                        Crohns Disease
                      </p>
                      <br>
                      <br>
                    </div>
                    <img src="{% static 'dietitian.png' %}">
                  </div>
                </div>                 
                </div>
                <div class="col-12 col-md-6">
                  <div class="d-flex">
                    <div class="me-5 text-primary">                     
                    </div>
                    <div>
                      <h4 class="mb-3 my-4">What we deliver!</h4>
                      <p class="lead fs-4 text-secondary mb-3">Honesty and professionalism</p>
                      <p class="text-secondary">When considering whether seeing a nutritionist is worth your time and money, keep in mind the long-term benefits. Many people would agree that improvements in your energy, mood, and overall health are definitely worth it. This may even mean fewer health complications and fewer medications to pay for in the future</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


{% endblock %}