{% extends "base.html" %}

{% block content %}

<div class="card-container">
    <div class="inner-card-container">
        {% for post in post_list %}
            <div class="card mb-4">
                <div class="card-body d-flex justify-content-between flex-column">
                    <div class="image-container">
                        {% if "placeholder" in post.featured_image.url %}
                        <img class="card-img-top" src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg">
                        {% else %}
                        <img class="card-img-top" src=" {{ post.featured_image.url }}">
                        {% endif %}
                        <div class="image-flash">
                            <p class="author">Author: {{ post.author }}</p>
                        </div>
                    </div>
                    <a href="{% url 'post_detail' post.slug  %}" class="post-link">
                        <h2 class="card-title">{{ post.title }}</h2>
                    </a>
                        <div class="excerpt card-text"> {% if post.excerpt|length > 100 %}
                            <p class="part-excerpt">{{ post.excerpt|slice:':100' }}...</p>
                            <p class="full-excerpt d-none">{{ post.excerpt}}</p>
                            <button class="read-more btn btn-info">Read More</button>{% else %}{{ post.excerpt}}{% endif %}</div>
                                         
                    <hr />
                    <p class="card-text text-muted h7">{{ post.created_on}} <i class="far fa-heart"></i>
                        {{ post.number_of_likes }}</p>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
<script> 
$('.read-more').on('click', function(){
    let readMoreBtn = $(this)
    readMoreBtn.parent().find('.full-excerpt').toggleClass('d-none')
    readMoreBtn.parent().find('.part-excerpt').toggleClass('d-none')
    if(readMoreBtn.text() === 'Read More'){
        readMoreBtn.text('View Less')
    }else{
        readMoreBtn.text('Read More')
    }
    
})
</script>
{% endblock %}