{% extends "base.html" %}
{% load static %}
{% block content %}

<section class="form-section my-3">
    <!--Section heading-->
    <div class="filler-form">
        <h2>Please fill out the form below and our team will be in contact</h2>
        
    <h3 class="section-heading h1 pt-4 border-bottom mb-5">Contact us</h3>
        <div class="mb-5">
            <form class="d-flex flex-column" method="post" action="{% url 'contact' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="contact-btn" type="submit">Submit</button>
            </form>
        </div>
        <div class="w-100">
            <ul class="contact-icons list-inline d-flex flex-dir-row justify-content-between">
                <li class="text-center"><i class="fa fa-map-marker fa-2x"></i>
                    <p>Tipperary, Ireland</p>
                </li>

                <li class="text-center"><i class="fa fa-phone fa-2x"></i>
                    <p>+ 353 123456</p>
                </li>

                <li class="text-center"><i class="fa fa-envelope fa-2x"></i>
                    <p>contact@nutrition.ie</p>
                </li>
            </ul>
        </div>
    </div>
        

</div>

</section>


{% endblock %}