{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Contact Form Section -->
<section class="form-section my-3">
    <!-- Section heading -->
    <div class="filler-form">
        <!-- Title for the contact form -->
        <h2 class="contact-us">Please fill out the form below and our team will be in contact</h2>

        <!-- Subsection heading for the contact details -->
        <h3 class="section-heading h1 pt-4 border-bottom mb-5">Contact us</h3>

        <!-- Form for user input -->
        <div class="mb-5">
            <form class="d-flex flex-column" method="post" action="{% url 'contact' %}">
                {% csrf_token %}
                <!-- Render form fields as paragraphs -->
                {{ form.as_p }}
                <!-- Submit button for the form -->
                <button class="contact-btn" type="submit">Submit</button>
            </form>
        </div>

        <!-- Contact information section -->
        <div class="w-100">
            <!-- List of contact icons with details -->
            <ul class="contact-icons list-inline d-flex flex-dir-row justify-content-between">
                <li class="text-center">
                    <i class="fa fa-map-marker fa-2x"></i>
                    <!-- Location information -->
                    <p>Tipperary, Ireland</p>
                </li>

                <li class="text-center">
                    <i class="fa fa-phone fa-2x"></i>
                    <!-- Phone number -->
                    <p>+ 353 123456</p>
                </li>

                <li class="text-center">
                    <i class="fa fa-envelope fa-2x"></i>
                    <!-- Email address -->
                    <p>contact@nutrition.ie</p>
                </li>
            </ul>
        </div>
    </div>
</section>

{% endblock %}
