{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- Hero Section -->
<div class="homepage-container">
    <div class="jumbotron jumbotron-fluid text-center bg-dark"
        style="background-image: url('{{ hero.image.url }}');">

        <div class="row mx-0">
            <div class="col-sm-8">
                <div class="card">
                    <div class="card-body bg-black">
                        <h5 class="card-title text-black">{{ hero.title }}</h5>
                        <hr>
                        <p class="card-text">{{ hero.content }}</p>
                        <a href="{% url 'posts' %}" class="btn btn-primary">Blogs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        {% endblock %}