{% extends "base.html" %}
{% load static %}
{% block content %}
    
<div class="card-container">
    <div class="inner-card-container">
    {% for recipe in recipes %}    
        <div class="card mb">
            <img class="card-img-top" src="{{recipe.recipeimage.url}}" alt="Card image cap">
            <div class="card-body mb">
            <h5 class="card-title">{{ recipe.title }}</h5>
            <p class="card-text">{{ recipe.description }}</p>
            <a type="button" class="btn btn-primary mb" href="{% url 'recipedetail' recipe.id %}">Recipe</a>
            </div>
        </div>            
    {% endfor %}
    </div>
</div>


{% endblock %}