{% extends "base.html" %}
{% load static %}
{% block content %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="w-100 h-100">
			<h3 class="text-center text-primary">
				{{ recipedetail.recipe.title }}
            </h3>
			<div class="containers">
				
            <img src="{{recipedetail.recipe.recipeimage.url}}">
			<table class="table table-bordered table-striped table-hover table-condensed table-responsive">
        	<thead>
        		<tr>
        			<th>
        				Ingredients
        			</th>
        			<th>
        				Method
        			</th>
        			<th>
        				
        			</th>
        		</tr>
        	</thead>
        	<tbody>
        			<td>
        				{{recipedetail.ingredients}}
        			</td>
                    <td>
        				{{recipedetail.instructions}}
        			</td>
            </tbody>
            </table>
		</div>
	</div>
{% endblock %}

